:host {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .field {
    display: flex;
    flex-direction: column;
    gap: 4px;

    label {
        font-weight: bold;
        font-size: 0.7em;
    }
    input {
      width: 200px;
    }
  }
}
